#title {
    background-color: #819dff;
    padding-left: 50px;
}

.navbar-brand {
    font-family: 'Acme', sans-serif;
}

.nav-item:hover {
    border-bottom: 1px solid white;
}

#An {
    font-family: "Ubuntu", sans-serif;
    font-size: 4rem;
    padding-top: 80px;
    padding-left: 50px;
    width: 85%;
    animation: an;
    animation-fill-mode: forwards;
    animation-duration: 2.5s;
    position: relative;
}

@keyframes an {
    from {
        right: -100px
    }

    to {
        right: 0px
    }
}

#dbn {
    padding-left: 55px;
    padding-top: 50px;
}

.fa-google-play:hover{
    color: black;
}

#loginform {
    width: 30%;
    background: -webkit-linear-gradient(to right, #9796f0, #fbc7d4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9796f0, #fbc7d4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: none;
    padding: 100px 50px;
    position: absolute;
    top: 100px;
    right: 250px;
    height: 550px;
    border-radius: 20px;
}

.close {
    cursor: pointer;
    position: relative; 
    bottom: 180px; 
    left: 318px; 
    font-weight: 700; 
    font-size: 25px; 
    transform: rotate(45deg); 
    display: inline-block;
    color: white;
    
}

#email-div{
    position: relative;
    bottom: 60px;
}
#inputemail {
    width: 75%;
    border-radius: 20px;
    border-color: black;
}

#pass-div{
    position: relative;
    bottom: 40px;
}
#InputPassword {
    width: 75%;
    border-radius: 20px;
    border-color: black;
}

#rem-div{
    position: relative;
    bottom: 20px;
}
#sbmtbtn {
    border-radius: 10px;
    width: 130px;
    height: 30px;
    position: relative;
    left: 85px;
    top: 30px;
    background-color: #287ad1;
    color: white;
    text-align: center;
}

#yoga {
    background-color: #e1e29f;
    padding-top: 50px;
    padding-left: 25px;
    padding-bottom: 30px;
}

#yogaimg {
    height: 500px;
    width: 500px;
}

#pratice {
    padding-top: 100px;
}

#boost {
    font-family: 'Aclonica', sans-serif;
    width: 70%;
}

#boost2 {
    padding-top: 50px;
    width: 70%;
    font-family: 'Akaya Telivigala', cursive;
    position: relative;
}



#learn_btn {
    font-family: 'Fredoka One', cursive;
    width: 150px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 12px;
    outline: none;
    margin-top: 40px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;


}

#learn_btn:hover {
    box-shadow: inset 150px 0 0 0 #f9e506;

}

#supplies {
    padding-top: 80px;
    /* padding-bottom: 10px; */
    background-color: #ffaaa7;
}

#logos {
    padding-top: 50px;
}

#logostext {
    font-family: 'Londrina Solid', cursive;
    font-size: 3.5rem;
}

#o2 {
    background-color: transparent;
    border: none;
    margin-top: 50px;
    margin-right: 50px;
}

#doc {
    background-color: transparent;
    border: none;
    margin-top: 50px;
    margin-right: 50px;
}

#beds {
    background-color: transparent;
    border: none;
    margin-top: 50px;
    margin-right: 50px;
}

#food {
    background-color: transparent;
    border: none;
    margin-top: 50px;
    margin-right: 50px;
}

.tippy-box[data-theme~='tomato'] {
    background: #4568DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    font-weight: 500;
    color: white;
    font-size: 1rem;
}

#social {
    text-align: center;
    margin-top: 180px;
    background-color: #ffffc7;
    padding-top: 50px;
    padding-bottom: 50px;
}

#con_txt {
    color: black;
    font-size: 35px;
    font-family: 'Baloo Tamma 2', cursive;
}

.fab {
    font-size: 20px;
    color: black;
    padding-right: 20px;
}